<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/user/add" method="post">

    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="text" name="book.title" placeholder="book.title"><br>
    <input type="number" name="book.price" placeholder="book.price"><br>
    <input type="submit" value="OK">


</form>

</body>
</html>